.form-main .container {
  max-width: 300px;
  width: 90%;
  margin: 3rem auto 1.5rem;
}
.form-main footer {
  font-size: 1.2rem;
  padding-top: 2rem;
}
.form-main footer a {
  color: #404040;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.form-main footer a:hover {
  color: var(--primary-red);
  border-color: var(--primary-red);
}