.recover-password .heading {
  margin-bottom: 3rem;
}
.recover-password .heading h2 {
  color: var(--primary-red);
}
.recover-password form {
  margin-bottom: 1.5rem;
}
.recover-password form .input-field{
  margin: 1rem 0;
}
.recover-password form button {
  margin: 0;
}
.recover-password .transparent-link {
  display: block;
  width:fit-content;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1rem;
  color: var(--primary-red);
}
.recover-password .transparent-link span {
  margin-left: .3rem;
} 