.recover-password .heading {
  margin-bottom: 3rem;
}
.recover-password .heading h2 {
  color: #d63e39;
}
.recover-password form {
  margin-bottom: 1.5rem;
}
.recover-password form .input-field{
  margin: 1rem 0;
}
.recover-password form button {
  margin: 0;
}
.recover-password .transparent-link {
  color: #d63e39;
}
.recover-password .transparent-link span {
  margin-left: .3rem;
} 