button.icon-btn {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}
button.icon-btn span {
  width: 25px;
  height: 3px;
  border-radius: 3px;
}
.burger {
  display: grid;
  gap: 5px;
}
.burger span {
  background-color: black;
}
.times {
  color: white;
  font-size: 1.5rem;
}