.reset-password .heading {
  margin-bottom: 3rem;
}
.reset-password .heading h2 {
  color: #d63e39;
}
.reset-password form {
  margin-bottom: 1.5rem;
}
.reset-password form .input-field {
  margin: 1rem 0;
}
.reset-password form button {
  margin: 0;
}
.reset-password .transparent-link {
  color: #d63e39;
}
.reset-password .transparent-link span {
  margin-left: 0.3rem;
}
