/* login page */
.form-page {
  background-color: #d63e39;
  min-height: 100vh;
}
.form-page header {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/img/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  min-height: 200px;
}
.form-page header h1 {
  color: #fff;
  font-family: "Barlow", sans-serif;
}
.form-page header .form-logo {
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
}
/* login form area */
.form-page .form-main {
  border-radius: 3rem 0 0 0;
  background-color: #fff;
  padding: 5rem 2rem 3rem;
  text-align: center;
  color: #404040;
}
.form-page .form-main h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}

/* for the inputs */
.input-field {
  width: 100%;
  display: flex;
  position: relative;
  border: 1px solid #707070;
  border-radius: 4px;
  margin: 1.8rem 0;
}
.input-field input {
  width: 100%;
  padding: 1rem 0.9rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  font-size: 0.7rem;
}
.input-field .label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.3rem;
  padding: 0 0.6rem;
  background-color: #fff;
  color: #404040;
  transition: top 0.3s ease, left 0.3s ease, font-size 0.3s ease;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.input-field input:focus + .label,
.input-field input:valid + .label {
  top: 0%;
  left: 1.2rem;
  font-size: 0.7rem;
}

/* buttons */
.submit-btn {
  background-color: #d63e39;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  text-transform: capitalize;
  margin-top: 1rem;
}
.submit-btn:hover {
  background-color: #a3312d;
}

.search-field {
  width: 90%;
  max-width: 350px;
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: 95% 5%;
  border-radius: 3px;
  box-shadow: 0px 1.5px 4px #0000000f;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
}
.search-field input {
  border: none;
  outline: none;
  padding: 1rem 0;
}
.search-field input::placeholder {
  color: #00000047;
}
.search-field button {
  background-color: transparent;
  color: #00000047;
  border: none;
  outline: none;
}
@media screen and (min-width: 560px) {
  .search-field button {
    color: #d63e39;
  }
}
@media screen and (min-width: 700px) {
  .form-page {
    padding: 3rem;
    display: grid;
    grid-template-columns: 30% 70%;
    background: url("../../assets/img/header-bg.png"), #d63e39;
    align-content: center;
    align-items: start;
    justify-items: center;
  }
  .form-page header {
    background: none;
    display: flex;
    width: 100%;
    text-align: center;
    min-height: fit-content;
    align-items: flex-start;
  }
  .form-page header .form-logo {
    position: relative;
    top: 0;
    right: 0;
    align-self: unset;
  }
  .form-page main.form-main {
    max-width: 500px;
    border-radius: 3rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
  }
}
