.home .hero {
  position: relative;
  border: 1px solid red;
}
.home img {
  width: 100%;
}
.home .hero > *:not(img) {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
}
.home .hero .search-field {
  position: relative;
}

/* for the industries */
.home .hero .industry-picthes {
  position: relative;
}
.home .industry-picthes,
.home .rated-pitches {
  padding: 2.5rem 1.5rem;
  text-align: center;
}
.industry-picthes h2,
.rated-pitches h2 {
  font-size: 1.7rem;
  width: 70%;
  text-align: left;
  text-transform: capitalize;
}
.industry-picthes .industries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  padding: 1rem 0;
  gap: 1rem;
}
.industries-grid .industry {
  background-color: #fcd413;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.8rem;
}
/* rated pitches */
.rated-pitches .pitches {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}
.pitches .pitch-card {
  background-color: #fcd413;
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 0.5rem 0;
  border-radius: 5px;
}
.pitch-card .card-img {
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}
.pitch-card .card-img {
  width: 100%;
}
.pitch-card .card-text {
  display: grid;
  padding: 0.6rem;
  font-size: 0.65rem;
  text-align: left;
}
.pitch-card .pitch-topic {
  font-weight: 600;
  font-size: 0.85rem;
}
.pitch-card .card-text .pitch-owner {
  text-align: right;
  text-transform: capitalize;
}
