.brand {
  display: flex;
  align-items: center;
}
.brand .brand-text {
  font-family: "Barlow", sans-serif;
  margin-left: 0.5rem;
  font-size: 1.6em;
  font-weight: 500;
}
.logo { 
 width: 33px;
 display: flex;
 align-items: center;
}
.logo img {
  width: 100%;
}