.brand {
  display: flex;
  align-items: center;
}
.brand .brand-text {
  font-family: "Barlow", sans-serif;
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--black);
}
.logo {
  width: 33px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
  height: auto;
  padding: 0;
}
