.cards {
  border-radius: 4px;
}
/* investment steps */
.step-card {
  background-color: var(--white);
  color: #404040;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  margin: 1rem;
  width: 100%;
  max-width: 270px;
  border-radius: 4px;
  height: 100px;
  position: relative;
}
.step-card .card-illustration {
  padding: 0.2rem;
  height: 100%;
}
.step-card .card-illustration img {
  width: 100%;
  height: 100%;
}
.step-card .card-text {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0 0.8rem;
  text-transform: capitalize;
}
.step-card::before {
  content: attr(data-step-no);
  position: absolute;
  top: -10%;
  left: -2%;
  width: 30px;
  height: 30px;
  background-color: var(--primary-yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-red);
  font-size: 1.3rem;
  font-weight: 700;
}
/* investments steps ends */
/* testimonial cards */
.testimonial-card {
  background-color: var(--white);
  color: #404040;
  margin: 2.5rem 0;
  min-width: 250px;
  max-width: 300px;
  border-radius: 4px;
  margin-right: 2rem;
  box-shadow: 0px 2px 4px #0000000a;
  padding: 7rem 1.5rem 2rem;
  position: relative;
  margin-top: 1rem;
}
.testimonial-card .card-img {
  position: absolute;
  width: 60px;
  height: 60px;
  overflow: hidden;
  top: -2rem;
}
.testimonial-card .card-img img {
  width: 100%;
  height: 100%;
}
.testimonial-card::after {
  content:"”";
  color: var(--primary-red);
  font-size: 7rem;
  font-family: "Pacifico", cursive;
  position: absolute;
  top: 0;
  right: 2rem;
}
.testimonial-card .card-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.testimonial-card .card-title .name {
  font-weight: bold;
}
.testimonial-card .card-text {
  font-size: 1.1rem;
}
/* end of style for the testimonial cards */

/* style for the industry cards */
.industry-card {
  background-color: #fcd413;
  margin: 0.5rem;
  padding: 2rem;
  text-align: center;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
}
.industry-card .industry-icon {
  width: 20px;
  height: 20px;
  margin: 0.5rem auto;
}
.industry-card .industry-icon svg {
  width: 100%;
  height: 100%;
}
.industry-card .industry-name {
  color: #000;
  text-transform: capitalize;
}
/* end of style for the industry card */

/* pitch card */
.pitch-card {
  background-color: #fcd413;
  display: flex;
  padding: 0.4rem;
  border-radius: 4px;
  max-width: 400px;
  color: #000;
  text-decoration: none;
}
.pitch-card .img-container {
  width: 90px;
  height: 70px;
  border-radius: 4px;
  overflow: hidden;
}
.pitch-card .img-container img {
  width: 100%;
  height: 100%;
}
.pitch-card .pitch-details {
  display: grid;
  padding: 0 1rem;
  gap: 0.3rem;
  width: 100%;
}
.pitch-card .pitch-details .thumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pitch-details .thumbs svg {
  color: #d63e39;
  font-size: 1.2rem;
}
.pitch-details .thumbs span {
  padding-left: 0.3rem;
}
.pitch-details .pitch-title {
  font-size: 1.15rem;
  font-weight: 600;
}
.pitch-details .pitch-owner {
  justify-self: end;
  text-transform: capitalize;
}
/* end of style for the industry pitch */

@media screen and (max-width: 700px) {
  .industry-pitches .pitches-grid .industry-card {
    width: 100%;
    height: 130px;
    margin: 0;
  }
  .industry-card .industry-icon {
    width: 30px;
    height: 30px;
  }
}
