.drawer {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  transition: left 0.5s ease-in-out;
}

.drawer header {
  height: 35%;
  width: 100%;
  background: url("../../assets/img/header-bg.png"),
    linear-gradient(150deg, #fc9f13fa, #d63e39);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: grid;
  justify-items: start;
}

.drawer header .logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
.drawer header .user{
  display: flex;
  font-size: 1.3rem;
  margin: 1.5rem 2rem;
}
.user .avatar {
  max-width: 70px;
}
.user .avatar img {
  width: 100%;
}
.user .user-details {
  display: grid;
  align-content: center;
  margin-left: 1.5rem;
}
.user .user-details .name {
  font-size: 1.7rem;
}
.drawer nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 2rem;
}
.drawer nav .nav-link {
  margin: 1rem 0;
  font-size: 1.4rem;
}

.drawer nav .logout-btn {
  background-color: transparent;
}