.code-verification .heading {
  margin-bottom: 3rem;
}
.code-verification .heading h2 {
  color: #d63e39;
}
.code-verification form {
  margin-bottom: 1.5rem;
}
.code-verification form .input-field {
  margin: 1rem 0;
  text-align: center;
}
.code-verification form input {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3rem;
  font-family: monospace;
}

.code-verification form button {
  margin: 0;
}
.code-verification .resend-btn {
  background-color: #fff;
  color: #d63e39;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-size: 1.15rem;
  font-weight: bold;
  margin-top: 2rem;
  cursor: pointer;
}