.logout-btn {
  background-color: transparent;
  color: #d63e39;
  border: 0;
  outline: none;
  font-weight: lighter;
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
  cursor: pointer;
}
.logout-btn span {
  padding-left: 0.3rem;
}
