@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Nunito+Sans:wght@300;400;600;700;800&family=Montserrat&family=Pacifico&amily=Atomic+Age&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
}

@media screen and (min-width: 560px) {
  .dspr-lg {
    display: none !important;
  }
}