/* hero section */
.landing-page .hero {
  padding: 1.5rem 0rem 0;
}
.landing-page .hero .hero-text-one {
  padding: 0 0 0 4rem;
  max-width: 300px;
  width: 80%;
}
.landing-page .hero h1 {
  font-size: 3.2rem;
  font-weight: 1000;
}
.landing-page .hero a {
  padding-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--black);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.landing-page .hero a svg {
  color: var(--primary-red);
  margin: 0.3rem;
}
.landing-page .hero-text-two {
  background: url("../../assets/img/Welcome/about.png");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  color: var(--white);
  padding: 4rem;
}
.hero .hero-text-two a,
.hero .hero-text-two p,
.hero .hero-text-two h2 {
  max-width: 250px;
  width: 80%;
}
.hero .hero-text-two h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.hero .hero-text-two p {
  font-size: 1.1rem;
  padding-bottom: 2.7rem;
}
.hero .hero-text-two p::after {
  content: " Pitch your idea now.";
  font-weight: bold;
}
.hero .hero-text-two a {
  color: var(--white);
  font-size: 1.2rem;
  text-decoration: none;
}
.hero .hero-text-two a span {
  padding-right: 1rem;
}
@media screen and (min-width: 560px) {
  .landing-page .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../assets/img/landing-hero.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    padding: 4rem 5rem 10rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .landing-page .hero .hero-text-one {
    max-width: 300px;
    padding: 0;
  }
  .landing-page .hero h1 {
    font-size: 3.7rem;
    font-weight: 1000;
  }
  .landing-page .hero-text-two {
    background: none;
    max-width: 300px;
    padding: 0;
  }
  .hero .hero-text-two p {
    width: 100%;
    margin: 0;
    font-size: 1.3rem;
    max-width: 300px;
    font-weight: 400;
  }
  .hero .hero-text-two p::after {
    content: "";
  }
  .hero .hero-text-two a {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero .hero-text-two a svg {
    color: var(--primary-yellow);
  }
}

/* counts plus investor section */
.about {
  background-color: var(--primary-red);
}
.about .counts {
  display: flex;
  padding: 3rem 4rem;
  justify-content: space-between;
  background-color: var(--white);
}
.about .counts .count-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.counts .count-item .value {
  color: var(--primary-red);
  font-size: 1.2rem;
  font-weight: bold;
}
.counts .count-item .item {
  font-size: 1rem;
}

/* investors section */
.landing-page .investment-steps {
  padding: 4rem;
  color: var(--white);
  text-align: center;
}
.investment-steps h2 {
  font-size: 3rem;
}
.investment-steps h2 span {
  font-weight: lighter;
}
.investment-steps .subheading {
  font-size: 1.2rem;
}
.investment-steps .card-grid {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
}

.investment-steps .get-started-link {
  padding: 1.2rem;
  display: block;
  text-align: center;
  max-width: 270px;
  width: 75%;
  margin: 0 auto;
}

@media screen and (min-width: 560px) {
  .about{
    position: relative;
    padding: 5rem 0;
  }
  .about .counts {
    justify-content: center;
    background-color: unset;
    position: absolute;
    left: 0;
    top: -70px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about .counts .count-item {
    padding: 2.5rem 3rem;
    align-items: center;
    background-color: var(--primary-yellow);
    border-radius: 4px;
    box-shadow: 0px 2px 4px #0000001c;
  }
  .about .counts .count-item:nth-child(2) {
    transform: scale(1.1);
  }
  .counts .count-item .value {
    font-size: 1.3rem;
  }
  .counts .count-item .item {
    font-size: 1rem;
    font-weight: 600;
  }
  /* investors section */
  .landing-page .investors {
    padding: 4rem 5rem;
  }
}

/* testimonials */
.testimonials {
  background-color: #fffdfc;
  padding: 4rem;
}
.testimonials h2 {
  font-size: 3rem;
  text-align: center;
  font-size: lighter;
}
.testimonials h2 span {
  font-weight: bolder;
}
.testimonials .card-grid {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}