/* signup form area */
.form-page .form-main {
  border-radius: 3rem 0 0 0;
  background-color: #fff;
  padding: 5rem 2rem 3rem;
  text-align: center;
  color: #404040;
}
.form-main .signup-form {
  max-width: 300px;
  width: 90%;
   width: 90%;
  margin: 3rem auto 1.5rem;
}
.signup-form p.sub-heading{
  font-size: 1.3rem;
  text-align: left;
}
.signup-form .warning {
  font-size: 1rem;
  text-align: left;
  
}